{% extends 'base.html' %}
{% comment %} templates/posts/group_list.html {% endcomment %}
{% block title %}
  аписи сообщества {{ group }}
{% endblock %}
{% block content%}
  <h1>{{ group }}</h1>
  <p>
    {{ group.description }}
  </p>
{% comment %} Pytest требует, чтобы в теле html присутствовал цикл for. Если вынести
    цикл for в includes, то Pytest покажет ошибку {% endcomment %}
  {% for post in page_obj %}
    {% include 'includes/article.html' %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
